@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body {
  min-height: 100vh;
  background-color: $american-silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: 'League Spartan', sans-serif;

  @media screen and (max-height: 750px) {
    min-height: 100%;
    margin-top: px-to-rem(25);
  }

  .player {
    height: 100%;
    width: calc(100% - 32px);
    max-height: px-to-rem(500);
    background-color: $platinum;
    border-radius: px-to-rem(20);
    box-shadow: 0 px-to-rem(15) px-to-rem(30) px-to-rem(5) rgba($dark-charcoal, 0.3);
    position: relative;

    @media screen and (min-width: 376px) {
      height: calc(100vh - 32%);
      max-width: px-to-rem(400);
      margin: 0 px-to-rem(16);
    }

    @media screen and (min-width: 376px) and (max-height: 750px) {
      min-height: px-to-rem(500);
    }

    &__block {
      position: relative;
      height: px-to-rem(300);
      width: px-to-rem(300);
      max-width: calc(100% - 32px);
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: px-to-rem(20);
      box-shadow: 0 px-to-rem(5) px-to-rem(30) px-to-rem(5) rgba($dark-charcoal, 0.5);
    }

    &__progress {
      background-color: $white;
      border-radius: px-to-rem(5);
      cursor: pointer;
      margin: px-to-rem(40) auto;
      height: px-to-rem(4);
      width: px-to-rem(300);
      max-width: calc(100% - 32px);

      &--bar {
        background-color: $dark-charcoal;
        border-radius: px-to-rem(5);
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
      }

      &--duration {
        position: relative;
        top: px-to-rem(-25);
        display: flex;
        justify-content: space-between;
      }
    }

    &__controls {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: px-to-rem(150);
      max-width: calc(100% - 32px);
      margin: 0 auto;
      position: relative;
      top: 0;

      @media screen and (min-width: 376px) {
        top: px-to-rem(-5);
      }

      &--control {
        cursor: pointer;
        width: px-to-rem(40);
        height: px-to-rem(30);
        display: block;
        transition: all .15s ease-in-out;

        &:hover {
          filter: brightness(80%);
          animation: pulse 1s infinite;
        }

        &:active {
          filter: brightness(80%);
        }

        &:focus-visible {
          outline-offset: px-to-rem(3);
          outline: px-to-rem(2) solid $blue-bolt;
        }
      }

      &--play,
      &--pause {
        position: relative;

        &:before {
          position: absolute;
          content: '';
        }
      }

      &--play:before {
        left: px-to-rem(6);
        box-sizing: border-box;
        border-color: transparent transparent transparent $titanium;
        border-style: solid;
        border-width: px-to-rem(15) 0 px-to-rem(15) px-to-rem(30);
      }

      &--pause {
        &:before,
        &:after {
          width: px-to-rem(10);
          height: 100%;
          background-color: $titanium;
        }

        &:before {
          left: 6px;
        }

        &:after {
          position: absolute;
          content: '';
          left: 24px;
        }
      }

      &--backward {
        &:before,
        &:after {
          transform: rotate(180deg);
        }
      }

      &--backward,
      &--forward {
        position: relative;

        &:before {
          left: 0;
        }

        &:after {
          left: px-to-rem(20);
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: px-to-rem(5);
          box-sizing: border-box;
          border-color: transparent transparent transparent $titanium;
          border-style: solid;
          border-width: px-to-rem(10) 0 px-to-rem(10) px-to-rem(20);
        }
      }
    }

    &__title {
      font-size: px-to-rem(20);
      text-align: center;
      margin: 0;
      text-transform: capitalize;

      @media screen and (min-width: 376px) {
        font-size: px-to-rem(25);
      }
    }

    &__artist {
      font-size: px-to-rem(15);
      text-align: center;
      font-weight: 400;
      margin: px-to-rem(5) 0 0;
      text-transform: capitalize;

      @media screen and (min-width: 376px) {
        font-size: px-to-rem(20);
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: px-to-rem(5);
      right: px-to-rem(5);
      width: px-to-rem(24);
      height: px-to-rem(24);
      border-radius: 50%;
      background-color: $titanium;
      color: $white;
      animation: pulse 1s infinite;
      cursor: pointer;

      @media screen and (min-width: 376px) {
        top: px-to-rem(10);
        right: px-to-rem(10);
      }
    }

    &__tooltip {
      visibility: hidden;
      pointer-events: none;
      position: fixed;
      margin-top: px-to-rem(5);
	    background-color: $dark-charcoal;
	    color: $white;
      right: px-to-rem(5);
      top: px-to-rem(30);
      border: px-to-rem(1) solid $platinum;
      border-radius: px-to-rem(4);
      padding: px-to-rem(4) px-to-rem(8);
	    font-size: px-to-rem(12);

      @media screen and (min-width: 376px) {
        right: px-to-rem(10);
      }
    }
  }
}

[title]:hover + .player__tooltip {
	visibility: visible;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}
